
.page, .page *, .navigator, .navigator * {
    font-family: "Courier New", monospace;
    color: black;
    vertical-align: text-top;
    flex-grow: 1;
}

.navigator {
    display: flex;
    background-color: gainsboro;
    padding: 50px;
    flex-grow: 1;
}

label {
    width: 100px;
    margin: 10px;
}

#resume {
    margin: 5vw;
    margin-top: 0in;
    margin-bottom: 0in;
    min-width: 70vw;
    max-width: 70vw;
}

#resume * {
    font-family: "Arial", sans-serif;
    color: black;
    background-color: white;
    font-size: 11pt;
}

#resume h1 {
    font-size: 16pt;
}

#resume h2 {
    font-size: 13pt;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;
}

.row * {
    flex-grow: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

input, textarea, select {
    order: 2;
    flex: 1 1 auto;
}

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.page {
    text-align: left;
    font-size: 1vw;
    align-content: left;
}

.page, .navigator {
    max-width: 80vw;
    min-width: 80vw;
}

.title, .navigator {
    text-align: center;
}

.navigator {
    width: 100%;
}

.navigator td {
    width: 25%;   
}

.navigator a:hover {
    color:dimgray;
}

table {
    width: 100%;
}

td.timespan {
    width: 2in;
}

td.entry {
    max-width: 4.5in;
}

/* for images*/
figure{display:table}
figcaption{display:table-caption;caption-side:bottom}

/* for resume */
#resume h2 {
    break-after: avoid;
}

#resume tr {
    break-inside: avoid;
}

#resume a, #resume abbr, .navigator a, .navigator abbr {
    text-decoration: none;
}

#resume a:hover {
    color: deeppink;
}
#resume abbr:hover {
    color: deeppink;
}

@page {
    size: auto;
    margin: 1in;
}

@page :first {
    margin-top: .5in;
}

@media print {
    * {
        visibility: hidden;
    }

    #printable * {
        visibility: visible;
    }

    #printable {
        position: absolute;
        left: 0;
        top: 0;
    }
}
